In [5]:
#Exercicio 1

In [6]:
lista1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
lista1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
#Exercicio 2

In [9]:
lista2 = ["academia", "corrida", "futebol"]

In [10]:
lista2

['academia', 'corrida', 'futebol']

In [11]:
#Exercicio 3

In [12]:
str1 = 'Corin'
str2 = 'thians'
str3 = str1 + str2

In [13]:
str3

'Corinthians'

In [14]:
#Exercicio 4

In [21]:
tupla = (1, 2, 2, 3, 4, 4, 4, 5, 20, 20)
tupla.count(4)

3

In [24]:
#Exercicio 5

In [22]:
dicionario = {}

In [23]:
# Exercício 6

In [26]:
dicionario = {"corin":10, "palm":2, "sao":3}
dicionario

{'corin': 10, 'palm': 2, 'sao': 3}

In [27]:
# Exercício 7, aqui usando as [], conseguimos adicionar algo ao dicionario, complementando do valor, logo apos o =.

In [29]:
dicionario["sant"] = 10

In [30]:
dicionario

{'corin': 10, 'palm': 2, 'sao': 3, 'sant': 10}

In [ ]:
# Exercício 8,

In [31]:
dic2 = {"lista":[1,2], "valor1": 200, "valor2": 300}
dic2

{'lista': [1, 2], 'valor1': 200, 'valor2': 300}

In [ ]:
# Exercício 9

In [33]:
listaElementos = ['String', (2,3), {"val1":1,"val2":2}, 1.54]
listaElementos

['String', (2, 3), {'val1': 1, 'val2': 2}, 1.54]

In [34]:
# Exercício 10, aqui notamos que [:], conseguimos selecionar de qual caracter queremos startar e parar.

In [36]:
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[1:19]

'ientista de Dados '